<!DOCTYPE html>
<html>

<head>
    <link rel="stylesheet" type="text/css" href="/main.css" />
</head>

<body>
    <h2>Welcome <%= user.fName %></h2>
    <button class = 'button'><a href = '/logout'>Logout</a></button>
</body>

</html>