<!DOCTYPE html>
<html>

<head>
    <link rel="stylesheet" type="text/css" href="/main.css" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
</head>

<body>
    <header>
        <ul>
            <li>
                <a href="/signup">Signup</a>
            </li>
            <li>
                <a href="/">Login</a>
            </li>
        </ul>
    </header>
    <div class='main'>
        <div class='objects'>
            <p> Sign Up</p>

            <input class=box type="text" name="username" id="username" placeholder="Username" />
            </br>
            <input class=box type="password" name="password" id="password" placeholder="Password" />
            </br>
            <button class=box button id='submitButton' type="submit">Click</button>
            <p class='errorMessages' id='errorMessages'></p>
        </div>
    </div>
    <script>
        $('#submitButton').on('click', ()=>{
            if(!$('#username') || !$('#password')){
                $('#submitButton').text('Please fill in all fields');
            }
            else{
                $.post('/login', res =>{
                    
                })
            }
        })
    </script>
</body>

</html>