<!DOCTYPE html>
<html>

<head>
    <link rel="stylesheet" type="text/css" href="/main.css" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
</head>

<body>
    <header>
        <ul>
            <li class='logo'>
                <p class='logo'>Logo</p>
            </li>
        </ul>
        <ul>
            <li>
                <a href="/signup">Signup</a>
            </li>
            <li>
                <a href="/login">Login</a>
            </li>
        </ul>
    </header>
    <div class='main'>
        <div class='objects'>
            <p>Login</p>
            <input class=box type="text" name="username" id="username" placeholder="Username" />
            </br>
            <input class=box type="password" name="password" id="password" placeholder="Password" />
            </br>
            <input class=button button id='submitButton' type="submit" />
            <p class='errorMessages' id='errorMessages'>
                <%= errMsg ? errMsg : null%>
            </p>
        </div>
    </div>
    <script>
        $('#submitButton').on('click', () => {
            if (!$('#username').val() || !$('#password').val()) {
                $('#errorMessages').text('Please fill in all fields');
            } else {
                $.post('/login', {
                        username: $('#username').val(),
                        password: $('#password').val()
                    },
                    res => {
                        console.log(res);
                        if (res === 'success') {
                            window.location.replace('/dashboard');
                        } else {
                            $('errorMessages').text('Incorrect Credentials')
                        }
                    })
            }
        })
    </script>
</body>

</html>