<!DOCTYPE html>
<html>
    <head>
    </head>
    <body>
        <header>
        <ul>
            <li>
                <a href="/signup">Signup</a> 
            </li>
            <li>
                <a href="/">Login</a> 
            </li> 
            </ul>
        </header>
        <h1>hello</h1>
    </body>
</html>